# Data Importing

In [2]:
#Import Package
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv('Dataset.csv')

# Datset Understanding

In [5]:
data = pd.read_csv('Dataset.csv')
data.head(5)

  Gender    Height      Weight  Index
0   Male  1.875714  109.721205      4
1   Male  1.747060   73.622879      1
2   Male  1.882397   96.497744      2
3   Male  1.821967   99.809704      3
4   Male  1.774998   93.598806      3

In [6]:
data = pd.read_csv('Dataset.csv')
data.tail(5)

      Gender    Height     Weight  Index
9995  Female  1.680785  62.041283      1
9996  Female  1.703506  77.504471      4
9997  Female  1.622247  58.275494      2
9998  Female  1.753470  74.322315      3
9999  Female  1.573384  51.550427      1

In [19]:
data = pd.read_csv('Dataset.csv')
# shape of data
data.shape

(9999, 4)

In [20]:
data = pd.read_csv('Dataset.csv')
data.columns

Index(['Male', '1.8757142323079998', '109.72120510564179', '4'], dtype='object')

In [21]:
data = pd.read_csv('Dataset.csv')
data.info

<bound method DataFrame.info of         Male  1.8757142323079998  109.72120510564179  4
0       Male            1.747060           73.622879  1
1       Male            1.882397           96.497744  2
2       Male            1.821967           99.809704  3
3       Male            1.774998           93.598806  3
4       Male            1.708227           69.042355  1
...      ...                 ...                 ... ..
9994  Female            1.680785           62.041283  1
9995  Female            1.703506           77.504471  4
9996  Female            1.622247           58.275494  2
9997  Female            1.753470           74.322315  3
9998  Female            1.573384           51.550427  1

[9999 rows x 4 columns]>

In [22]:
data = pd.read_csv('Dataset.csv')
data.size

39996

In [23]:
#check data type of each attribute
data = pd.read_csv('Dataset.csv')
data.dtypes

Male                   object
1.8757142323079998    float64
109.72120510564179    float64
4                       int64
dtype: object

In [24]:
data = pd.read_csv('Dataset.csv')
data.count

<bound method DataFrame.count of         Male  1.8757142323079998  109.72120510564179  4
0       Male            1.747060           73.622879  1
1       Male            1.882397           96.497744  2
2       Male            1.821967           99.809704  3
3       Male            1.774998           93.598806  3
4       Male            1.708227           69.042355  1
...      ...                 ...                 ... ..
9994  Female            1.680785           62.041283  1
9995  Female            1.703506           77.504471  4
9996  Female            1.622247           58.275494  2
9997  Female            1.753470           74.322315  3
9998  Female            1.573384           51.550427  1

[9999 rows x 4 columns]>

In [27]:
data = pd.read_csv('Dataset.csv')
data.get_dtype_counts()

AttributeError: 'DataFrame' object has no attribute 'get_dtype_count'

In [28]:
data = pd.read_csv('Dataset.csv')
x = data.select_dtypes(include=['object'])
type(x)

pandas.core.frame.DataFrame

AttributeError: 'DataFrame' object has no attribute 'male'