In [11]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics
import numpy as np

In [12]:
df=pd.read_csv('Dataset.csv',names=['Gender','Height','Weight','Index'])
df

      Gender    Height      Weight  Index
0       Male  1.875714  109.721205      4
1       Male  1.747060   73.622879      1
2       Male  1.882397   96.497744      2
3       Male  1.821967   99.809704      3
4       Male  1.774998   93.598806      3
...      ...       ...         ...    ...
9995  Female  1.680785   62.041283      1
9996  Female  1.703506   77.504471      4
9997  Female  1.622247   58.275494      2
9998  Female  1.753470   74.322315      3
9999  Female  1.573384   51.550427      1

[10000 rows x 4 columns]

In [13]:
dummy=df
dummy['Gender'].replace(['Male','Female'],[1,0],inplace=True)
dummy

      Gender    Height      Weight  Index
0          1  1.875714  109.721205      4
1          1  1.747060   73.622879      1
2          1  1.882397   96.497744      2
3          1  1.821967   99.809704      3
4          1  1.774998   93.598806      3
...      ...       ...         ...    ...
9995       0  1.680785   62.041283      1
9996       0  1.703506   77.504471      4
9997       0  1.622247   58.275494      2
9998       0  1.753470   74.322315      3
9999       0  1.573384   51.550427      1

[10000 rows x 4 columns]

In [14]:
X = df.iloc[:,:-1]
Y = df.iloc[:,-1]

In [15]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=1)

In [16]:
dtc=DecisionTreeClassifier()
dtc=dtc.fit(X_train,Y_train)
Y_pred=dtc.predict(X_test)

In [17]:
metrics.accuracy_score(Y_test,Y_pred)

0.947

In [18]:
print("The classification Report of Decision Tree is : \n",metrics.classification_report(Y_test,Y_pred))

The classification Report of Decision Tree is :
               precision    recall  f1-score   support

           0       0.84      0.96      0.90        49
           1       0.93      0.93      0.93       358
           2       0.96      0.95      0.96       843
           3       0.96      0.95      0.96       658
           4       0.87      0.90      0.89        92

    accuracy                           0.95      2000
   macro avg       0.91      0.94      0.93      2000
weighted avg       0.95      0.95      0.95      2000

In [19]:
print('Mean absolute error :', metrics.mean_absolute_error(Y_test,Y_pred))
print('Mean square error :', metrics.mean_absolute_error(Y_test,Y_pred))
print('Root mean square error :', np.sqrt(metrics.mean_absolute_error(Y_test,Y_pred)))

Mean absolute error : 0.0535
Mean square error : 0.0535
Root mean square error : 0.23130067012440755